[user]
    name = ubuntu64
    email = ubuntu64@example.com

[push]
    default = simple

[diff]
    algorithm = patience

[difftool]
    prompt = false

[diff "spl"]
  binary = true
  textconv = /bin/true

[diff "word"]
  binary = true
  textconv = strings

[mergetool]
    prompt = false

[alias]
    # porcelain commands abbreviations
    c = commit
    d = diff
    s = status -s
    b = branch
    cm = commit
    bl = blame
    cl = clone
    co = checkout

    m = merge
    mf = merge --ff
    mn = merge --no-ff

    # undo
    amend = commit --amend
    unstage = reset HEAD --

    # useful logger
    lg = log --date=relative
    lc = log --pretty=format:'%C(yellow)%h %C(blue)%an:%C(reset)%C(green)%d%C(reset) %s %C(red)(%ad)%C(reset)' --date=relative --abbrev-commit
    ls = log --oneline --decorate --abbrev-commit
    # powerful graphical logger
    lt = log --graph --pretty=format:'%C(yellow)%h%C(reset) -%C(green)%d%C(reset) %s %C(red)(%ad)%C(reset)' --date=relative --abbrev-commit
    l = log --graph --oneline --decorate
    la = log --graph --oneline --decorate --all
    lol = log --graph --oneline --decorate --all -n 9999

    # remote diff
    dfr = "!f() { git diff origin/$1 ^$1; }; f"
    dfl = "!f() { git diff $1 ^origin/$1; }; f"

    # common git repository host
    github-clone = "!f() { [ $# == '2' ] && git clone https://github.com/$1.git $2 || git clone https://github.com/$@.git; }; f"
    github-ssh-clone = "!f() { [ $# == '2' ] && git clone git@github.com:Jeanhwea/$1.git $2 || git clone git@github.com:Jeanhwea/$@.git; }; f"
    gitlab-clone = "!f() { [ $# == '2' ] && git clone https://gitlab.com/$1.git $2 || git clone https://gitlab.com/$@.git; }; f"
    gitlab-ssh-clone = "!f() { [ $# == '2' ] && git clone git@gitlab.com:Jeanhwea/$1.git $2 || git clone git@gitlab.com:Jeanhwea/$@.git; }; f"

    # list remotes
    rem = "!git config -l | grep remote.*url | tail -n +2"

    # plumbing command abbreviations
    print = cat-file -p
    sha = "!f() { find .git/objects -type f | grep -v pack | cut -b 14-15,17-; }; f"
    create-hash = hash-object -w
    assume = update-index --assume-unchanged
    noassume = update-index --no-assume-unchanged

    # list-hidden for git
    lh = "!git ls-files -v | grep '^h'"
    # list-ignored files
    li = ls-files --exclude-standard --ignored --others

    # gitignore pattern
    ignore = "!f() { curl -L -s https://www.gitignore.io/api/$@ ;}; f"
